- content_for :title do
  About

.cover-container
  .jumbotron
    %h2=@title
    .container

      .card-deck.mb-3.text-center
        .card.mb-4.shadow-sm
          .card-header
            %h4.my-0.font-weight-normal
              =@character_1.try(:name)
          .card-body
            %h1.card-title.pricing-card-title
              = image_tag("#{@character_1.try(:image_url)}",  height: '50%', width: '50%')
            %ul.list-unstyled.mt-3.mb-4
              %li
                =truncate(@character_1.try(:description), :length => 300)
              %br
              %li
                Combat word:
                =@character_1.word(@seed_number)

            =link_to "View Comics", @character_1.url, class: "button btn btn-dark", target: "_blank"

        .card.mb-4.shadow-sm
          .card-header
            %h4.my-0.font-weight-normal
              =@character_2.try(:name)
          .card-body
            %h1.card-title.pricing-card-title
              =image_tag("#{@character_2.try(:image_url)}", height: '50%', width: '50%')
            %ul.list-unstyled.mt-3.mb-4
              %li
                =truncate(@character_2.try(:description), :length => 300)
              %br
              %li
                Combat word:
                =@character_2.word(@seed_number)
            =link_to "View Comics", @character_2.url, class: "button btn btn-dark", target: "_blank"
