%header.masthead.mb-auto
  .inner
    .masthead-brand

      %h3#logo MARVEL - Combat Arena
    %nav.nav.nav-masthead.justify-content-center
      %a.nav-link.active{:href => "/characters/home"} Home
      %a.nav-link{:href => "/characters/start_game"} Start New Game
      %a.nav-link{:href => "#"} About
