!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Test"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Rails Bootstrap"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body.text-center
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      =render 'layouts/header'
      =yield
      =render 'layouts/footer'
